@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,300&display=swap');
*{
 margin: 0;
 padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            overflow-x:hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
outline: none;

}
svg,html,body{
  transition:0s;
}
/* width */
::-webkit-scrollbar {
  width: 3.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#0307a6;
}
#initial-view-cart{
  transition:.6s;
  color:white;
  height:43px;
  width:43px;
  margin-left:auto;
  margin-right:28px;
  margin-top:7px;
  cursor:pointer;
  background:#0307a6;
  border-radius:100%;
  padding:19px;
  position:fixed;
  right:0;
  z-index:10;
  border-bottom-left-radius:10px;
  padding-bottom:10px;
  padding-left:12px;
  padding-right:16px;
  padding-top:12px;
}
#initial-view-cart:hover{
    background:rgb(252,252,252);
    border:1px solid #0307a6;
    color:#0307a6;
}
@media screen and (max-width:1000px) {
  #initial-view-cart{
  height:40px;
  width:40px;
    margin-top:14px;
  }
}
@media screen and (max-width:750px) {
  #initial-view-cart{
  height:36px;
  width:36px;
  }
}
@media screen and (max-width:760px) {
    #psv{
        min-height:310px;
    }
    #bebv{
        min-height:245px;
    }
}
@media screen and (max-width:432px) {
    #psv{
        min-height:305px;
    }
    #bebv{
        min-height:240px;
    }
}
